%table#events
	%thead
		%tr
			%th Date
			%th Free Slots
	%tbody
		%tr
			%td{:rowspan => "#{@free_slots_two.size + 1}"}= @currDate
			%td
				-@free_slots_two.each do |slot|
					%tr
						%td= slot